<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="inces-guarico">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">


        <title>Curso programacion Inces</title>
        <meta name="description" content="">

        <script type="text/javascript" src="core/jquery/jquery-2.1.1.min.js"></script>
        <!--Librerias Bootstrap-->
        <link href="../../core/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="../../core/font-awesome/css/font-awesome.min.css">
  <script src="../../core/bootstrap/js/bootstrap.min.js"></script>


    </head>
    <body>
        <section >
            <div class="container">
               <form role="form">
                           
                            
                            
                            
                            
                            <div>
                                <label id="lblUsername" class="lblUsername">Nombre Usuario</label>
                                <input type="text" class="form-control" id="txtUsername" placeholder="Introduca su Usuario">
                            </div>
                            <div>
                                <label id="lblPassword" class="lblPassword">Contrase&ntilde;a</label>
                                <input type="password" class="form-control" id="txtPassword" placeholder="Contraseña">
                            </div>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-new-window"></span> Registrarce
                            </button>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-saved"></span> Enviar
                            </button>
                            <!--<button type="submit" class="btn btn-default">Enviar</button>-->
                        </form>

            </div>

        </section>
    </body>
</html>
