<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="inces-guarico">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">


        <title>Curso programacion Inces</title>
        <meta name="description" content="">

        <script type="text/javascript" src="../../core/jquery/jquery-2.1.1.min.js"></script>
        <link href="../../core/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="../../core/bootstrap/js/bootstrap.min.js"></script>
        <link href="../../core/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../core/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../public/css/AdminLTE.css" rel="stylesheet">
        <link href="../../public/css/curso.css" rel="stylesheet">
    </head>
    <body>
        <form method="post" action="accionejecutar" class="form-vertical" id="tblusuario-create">

            <div class="container-fluid">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">datos persona</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row show-grid">

                            <div class="col-md-4">                                                            <label for="lbl-tblpersona-nombres" class="lbl-tblpersona-nombres">Nombres</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-text-size"></i>
                                    </span>
                                    <input type="text" class="form-control" >
                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Apellidos</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-text-color"></i>
                                        </span>
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>                               
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Cédula</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-sort-numeric-asc"></i>
                                        </span>
                                        <input type="text" class="form-control">
                                    </div>


                                </div>                                
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="contenedor-1" class="contenedor-1">
            Contenedor 1

        </section>

        <section ><div class="container">
                <div class="tbl-usuario-create">
                    <div class="tbl-usuario-form">
                        <form method="post" action="accionejecutar" class="form-vertical" id="tblusuario-create">
                            <div class="">
                                <div class="box-body">
                                    <div class="box-group" id="accordion">
                                        <div class="panel box box-primary">
                                            <div class="box-header">
                                                <h4 class="box-title">
                                                    <a class="" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        Datos Personales
                                                    </a>
                                                </h4>
                                            </div>
                                            <div style="height: auto;" id="collapseOne" class="panel-collapse in">
                                                <div class="box-body">
                                                    <div class="row show-grid">

                                                        <div class="col-md-4">                                                            <label for="lbl-tblpersona-nombres" class="lbl-tblpersona-nombres">Nombres</label>
                                                            <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="glyphicon glyphicon-text-size"></i>
                                                                </span>
                                                                <input type="text" class="form-control" >
                                                            </div>

                                                        </div>

                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Apellidos</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-text-color"></i>
                                                                    </span>
                                                                    <input type="text" class="form-control" >
                                                                </div>
                                                            </div>                               
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Cédula</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-sort-numeric-asc"></i>
                                                                    </span>
                                                                    <input type="text" class="form-control">
                                                                </div>


                                                            </div>                                
                                                        </div>
                                                    </div>
                                                    <div class="row show-grid">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Rif</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-sort-numeric-asc"></i>
                                                                    </span>
                                                                    <input type="text" class="form-control" >
                                                                </div>
                                                            </div> 
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Télefono Móvil</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-phone"></i>
                                                                    </span>
                                                                    <input type="text" class="form-control" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Télefono Fijo</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-phone-alt"></i>
                                                                    </span>
                                                                    <input type="text" class="form-control" >
                                                                </div>
                                                            </div>   
                                                        </div>
                                                    </div>
                                                    <div class="row show-grid">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Correo</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-envelope"></i>
                                                                    </span>
                                                                    <input type="text" class="form-control" >
                                                                </div>
                                                            </div> 
                                                        </div>


                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Nacionalidad</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-envelope"></i>
                                                                    </span>
                                                                    <select  class="form-control" >
                                                                        <option value=""></option>
                                                                        <option value="14">Venezolo</option>
                                                                        <option value="15">Extranjero</option>
                                                                    </select>
                                                                </div>
                                                            </div> 
                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                            <!--PanelDatos Geograficos-->
                                            <div class="panel box box-danger">
                                                <div class="box-header">
                                                    <h4 class="box-title">
                                                        <a data-parent="#accordion" href="#collapseTwo">
                                                            Datos Geográficos
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div style="height: auto;" id="collapseTwo" class="panel-collapse in">
                                                    <div class="box-body">
                                                        <div class="row show-grid">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Región</label>
                                                                    <select class="form-control">
                                                                        <option value="">Indique la Región</option>
                                                                        <option value="1">CENTRO CAPITAL</option>
                                                                        <option value="3">CENTRO-OCCIDENTAL</option>
                                                                        <option value="6">LOS LLANOS</option>
                                                                        <option value="8">NOR-ORIENTAL</option>
                                                                        <option value="2">OCCIDENTAL</option>
                                                                        <option value="4">SUR ORIENTAL</option>
                                                                    </select>


                                                                </div> 
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label class="control-label">Estado</label>
                                                                    <select class="form-control">
                                                                        <option value="0">Seleccione el Estado</option>
                                                                    </select>
                                                                </div>     
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group ">
                                                                    <label class="control-label">Municipio</label>
                                                                    <select class="form-control">
                                                                        <option value="0">Seleccione el Municipio</option>
                                                                    </select>
                                                                </div>     
                                                            </div>


                                                        </div>
                                                        <div class="row show-grid">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">Parroquia</label>
                                                                    <select class="form-control">
                                                                        <option value="0">Seleccione el Parroquia</option>
                                                                    </select>
                                                                </div>     
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">Sector</label>
                                                                    <select class="form-control">
                                                                        <option value="0">Seleccione el Sector</option>
                                                                    </select>
                                                                </div>     
                                                            </div>
                                                        </div>
                                                        <div class="row show-grid">
                                                            <div class="col-md-12">                                
                                                                <div class="form-group field-tblpersona-direccion required">
                                                                    <label for="tblpersona-direccion" class="control-label">Direccion</label>
                                                                    <input type="text" data-toggle="tooltip" title="" name="TblPersona[direccion]" class="form-control" id="tblpersona-direccion" data-original-title="Detalle donde Vive">


                                                                </div>                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!--PanelDatos Cargo-->

                                        </div>

                                    </div>

                                </div>

                        </form></div>

                </div>
            </div>
            </div>
        </section>

</html>